<li class="dropdown search-dropdown position-static nav-item">
    <a href="#" role="button" class="collapse-toggle" data-bs-toggle="collapse" data-bs-target=".search-dropdown-menu"
        aria-haspopup="true" aria-expanded="false"><i class="jam jam-search"></i></a>
    <div class="dropdown-menu search-dropdown-menu w-100 collapse">
        <div class="form-wrapper">
            <form class="inverse-text">
                <input type="text" id="search-input" class="form-control" placeholder="Search blog posts.." />
            </form>
            <!-- /.search-form -->
            <i class="dropdown-close jam jam-close"></i>
        </div>
        <!-- /.form-wrapper -->
        <ul id="results-container" class="position-static"></ul>
    </div>
</li>
<li class="nav-item"><button class="plain" data-bs-toggle="offcanvas-info"><i class="jam jam-info"></i></button>
</li>