<nav class="navbar absolute transparent navbar-expand-lg genera-bg">
  <div class="container">
    <div class="navbar-brand">
      <a href="{{site.url}}">
        <img src="{{site.data.general_settings.black_logo_1x}}" srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
      </a>
    </div>
    <div class="navbar-other ms-auto order-lg-3">
      <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
        {% include layouts/nav/_hamburger.html %}
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-other -->
    <div class="navbar-collapse offcanvas-nav">
      <div class="offcanvas-header d-lg-none d-xl-none">
        <button class="plain offcanvas-close offcanvas-nav-close"><i class="jam jam-close"></i></button>
      </div>
      <ul class="navbar-nav ms-auto">
        {% for nav in site.data.one_page_nav.one_page_nav_settings.links %}
          {% if page.sections contains nav.section_id %}
            <li class="nav-item">
              <a class="nav-link scroll offcanvas-nav-close" href="{{ nav.url }}">{{ nav.text }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- /.navbar-nav -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- /.navbar -->
{% include layouts/nav/_offcanvas-info.html %}