---
layout: default
---

{% include layouts/nav/nav-11.html  default_logo="black" drop_search=true alignment_class="ms-auto" %}

{% include layouts/header/page-title3.html %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog grid grid-view boxed">
          <div class="row isotope">
            {% for post in paginator.posts %}
            {% include posts/loops/post-loop.html
            title_length=27
            excerpt_length=18
            is_boxed=true
            is_grid=true
            layout_class='col-md-6'
            %}
            {% endfor %}
          </div>
        </div>
        {% include utilities/pagination.html %}
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <aside class="col-lg-4 sidebar">
        {% include layouts/sidebar/sidebar.html %}
      </aside>
      <!-- /column .sidebar -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>

{% include layouts/footer/footer-1.html %}
