---
layout: default
title: Genera - The relational safety project
meta_title: Genera - The relational safety project
meta_description: |
  Genera is a relational safety project.
custom_color: rose
custom_font: font4
sections:
  - home
  - how-it-works
  - what-we-do
  - team
  - contact


hero_area:
  enable: true
  title: "We empower teenagers to build healthy relationships through sexual education, relational intelligence, and equality."
  sub_title: "<i>Because gender equality starts with education.</i>"
  # button_text: "See My Works"
  # button_url: "#"
  image: "/assets/images/concept/bg1.svg"
  section_id: "home"


pitch_area:
  enable: false
  title: "Pitch"
  sub_title: "We empower teenagers with the knowledge, skills, and confidence to build healthy relationships through education on sexuality, relational intelligence, and gender rights. Because Gender Equality starts with education."


how_it_works:
  enable: true
  title: "How It Works?"
  sub_title: "A new generation for a new era of relating"
  # video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  video_url: "https://www.youtube.com/embed/kS6P6z7e_yE"
  # image: "/assets/images/art/about2.webp"
  image: "/assets/images/video-thumbnail5.png"
  lists:

    - title: "Mission"
      description: "We equip teenagers with the tools to build healthy relationships in a digital and interconnected Europe. Through international experiences and interactive workshops, we create safe spaces where young people learn about sexuality, relational intelligence and equality, to prevent sexual, gender-based and cyber violence."

    - title: "Vision"
      description: "We envision a Europe where relational and sexual learning is valued as essential as academic education. Because the next generation deserves more than silence, confusion, or algorithms teaching them about relationships. They deserve education, dialogue, and better role models."

    - title: "Values"
      description: "Curiosity | Inclusivity | Safety | Empathy | Non-violent communication"


what_we_do:
  enable: true
  title: "What We Do?"
  sub_title: "Genera offers different services tailored to your needs:"
  services:

    - title: "Immersive training"
      description: "Five days of training on sexual education, relational intelligence, and gender rights for teenagers."
      image: "/assets/images/teamwork.png"
      button_text: "Learn More"
      button_url: "#"

    - title: "Tailor-made workshops"
      description: "3-hour workshops on a specific topic, e.g. <i>Navigate digital spaces safely</i>, <i>Desire and consensual sex</i>, <i>Prevention of SGBV violence</i>."
      image: "/assets/images/global-marketing.png"
      button_text: "Learn More"
      button_url: "#"

    - title: "Podcast to amplify youth voices"
      description: "We respond to teenagers' questions in a safe and confidential way."
      image: "/assets/images/podcast.png"
      button_text: "Learn More"
      button_url: "#"
      

team:
  enable: true
  title: "Who we are?"
  sub_title: "Meet our fantastic team."
  services:

    - title: "Chiara Ferri"
      description: "<b style=\"font-size: 18px\">Relationship and Sexuality expert</b><br><br>Chiara is a somatic sex coach and embodiment mentor with an additional 12 years of expertise in wellbeing and HR. In 2022, she founded IntimaSee Coaching Lab, and since then has facilitated 1-1 sessions, workshops, retreats, and festivals worldwide focused on sexuality, relationships, and vulnerability. To date, she has supported 200+ individuals and couples. She brings her deep knowledge of human sexuality, empathetic listening, and relationally grounded facilitation skills to Genera."
      image: "/assets/images/chiara.jpg"
      button_text: "LinkedIn"
      button_url: "https://linkedin.com/in/chiara-ferri-22374bb9"

    - title: "Eleonora Ungaro"
      description: "<b style=\"font-size: 18px\">Human rights and Advocacy expert</b><br><br>Eleonora is a human rights and advocacy expert with nine years of international experience in the social change sector. She is a strong advocate for the most vulnerable and actively challenges power structures. She has worked with more than 60 teenagers as Project Coordinator of an EU-funded project. She brings her deep knowledge of socio-political issues, analytical mindset, and strong advocacy skills to Genera."
      image: "/assets/images/eleonora.jpg"
      button_text: "LinkedIn"
      button_url: "https://linkedin.com/in/eleonora-ungaro-340aa394"

    - title: "Emma Zamberlan"
      description: "<b style=\"font-size: 18px\">Strategic Project Manager</b><br><br>Emma is a project manager with years of experience coordinating projects and turning ideas into structured, impactful initiatives. She combines strong organisational skills with a collaborative and strategic approach to project development. She has long cultivated a strong passion for gender studies and intersectional education. She brings a strong focus on structure and coordination, transforming ideas into clear processes, sustainable strategies, and well-executed initiatives."
      image: "/assets/images/emma.jpg"
      button_text: "LinkedIn"
      button_url: "https://linkedin.com/in/emma-zamberlan-0944b9a2"

contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions?<br/>Reach out to us and we will get back to you shortly."
  action_email: "wearegenera@gmail.com"
  lists:
    - title: Based in
      info_01: "Amsterdam, The Netherlands"
      icon: "jam jam-gps"

    - title: E-mail
      info_01: "wearegenera@gmail.com"
      icon: "jam jam-envelope-open"

    # - title: Phone
    #   info_01: "+00 (123) 456 78 90"
    #   info_02: "+00 (123) 456 78 90"
    #   icon: "jam jam-envelope-open"
    # info_01: "Chiara: +31 687381694"
    # info_02: "Eleonora: +39 3896222003"
    # icon: "jam jam-phone"

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Last Name"
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone Number"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"
---


{% include layouts/nav/one-page-nav-2.html %}

<!--<section id="home" class="pt-0 mt-0"></section>-->

{% if page.hero_area.enable %}
<section id="{{page.hero_area.section_id}}">
  <div class="wrapper gray-wrapper">
    <div class="rev_slider_wrapper fullwidth-container dark-spinner">
      <div id="slider6" class="rev_slider fullwidthbanner" data-version="5.4.7">
        <ul>
          <li data-transition="fade" data-thumb="">
            <img src="/assets/images/dummy.webp" data-bgcolor="#eeede9" alt="{{page.hero_area.title}}"/>
            {% if page.hero_area.image %}
            <div class="tp-caption"
                 data-x="['center','center','center','center']"
                 data-y="['bottom','bottom','bottom','bottom']"
                 data-hoffset="['0','0','0','0']"
                 data-voffset="['-250','-250','-250','-250']"
                 data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-visibility="['on','on','on','on']"
                 data-width="none"
                 data-height="none"
                 data-type="image"
                 data-responsive="on"
                 data-responsive_offset="on"
                 data-basealign="slide" style="z-index: 5;">
<!--              <div class="col-md-6" style="margin-left: auto !important;">-->
                <img data-lazyload="" src="/assets/images/people2.svg" style="opacity: 0.2;" data-ww="['100%','100%','100%','100%']"
                     data-hh="['auto','auto','auto','auto']" alt="{{page.hero_area.title}}" />
<!--                </div>-->
            </div>
            {% endif %}
            <div class="tp-caption font-weight-600 color-dark"
                 data-x="['left','left','center','center']"
                 data-y="['middle','middle','bottom','bottom']"
                 data-hoffset="['0','0','0','0']"
                 data-voffset="['-100','-120','280','280']"
                 data-fontsize="['40','40','40','32']"
                 data-lineheight="['50','50','50','42']"
                 data-width="['1100','850','650','345']"
                 data-textAlign="['center','center','center','center']"
                 data-whitespace="['normal','normal','normal','normal']"
                 data-frames='[{"delay":1100,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                 data-responsive="on"
                 data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
            </div>
            <!-- /.tp-caption -->
            <div class="tp-caption font-weight-400 color-dark"
                 data-x="['left','left','center','center']"
                 data-y="['middle','middle','bottom','bottom']"
                 data-hoffset="['0','0','0','0']"
                 data-voffset="['30','30','150','140']"
                 data-fontsize="['34','34','34','34']"
                 data-lineheight="['38','38','38','32']"
                 data-width="['1100','850','650','350']"
                 data-textAlign="['center','center','center','center']"
                 data-whitespace="['normal','normal','normal','normal']"
                 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                 data-responsive="on"
                 data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.sub_title}}
            </div>
            <!-- /.tp-caption -->
<!--            <a class="tp-caption btn btn-l scroll"-->
<!--               data-x="['left','left','center','center']"-->
<!--               data-y="['middle','middle','bottom','bottom']"-->
<!--               data-hoffset="['50','30','0','0']"-->
<!--               data-voffset="['175','190','60','60']"-->
<!--               data-width="['auto','auto','auto','auto']"-->
<!--               data-frames='[{"delay":1900,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'-->
<!--               data-responsive="on"-->
<!--               data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.button_url}}"> {{page.hero_area.button_text}}-->
<!--            </a>-->
            <!-- /.tp-caption -->
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
      <!-- /.rev_slider -->
    </div>
    <!-- /.rev_slider_wrapper -->
  </div>
  <!-- /.wrapper -->
</section>
{% endif %}

{% if page.pitch_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="services-area">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="space140"></div>
<!--          <h2 class="title-color color-gray text-center">{{page.pitch_area.title}}</h2>-->
          <h3 class="display-3 text-center">{{page.pitch_area.sub_title}}</h3>
          <div class="space40"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endif %}


{% if page.how_it_works.enable %}
<section id="how-it-works">
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <div class="row align-items-center">
        <div class="col-md-7 mx-auto">
          <div class="text-center">
            <h1 class="title-bg bg-default color-default large-title">{{page.how_it_works.title}}</h1>
          </div>
          {% if page.how_it_works.sub_title %}
          <h3 class="display-3 subtitle-font">{{page.how_it_works.sub_title}}</h3>
          {% endif %}
        </div>
        <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
          <div class="img-blob blob8">
              <img src="{{page.how_it_works.image}}" style="width: 30rem" alt="{{page.how_it_works.title}}" />
          </div>
          {% if page.how_it_works.video_url %}
           <a href="{{page.how_it_works.video_url}}" class="btn-play lightbox"></a>
          {% endif %}
        </div>
        <!--/column -->
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6 pl-50 pl-md-15">
<!--          <div class="space20"></div>-->
          <div class="row">
            <div class="col-md-12">
              <h5 class="genera-dark-turquoise">Mission</h5>
              <p class="how-it-works-font">We equip teenagers with the tools to build healthy relationships in a digital and interconnected Europe. Through international experiences and interactive workshops, we create safe spaces where young people learn about sexuality, relational intelligence and equality, to prevent sexual, gender-based and cyber violence.</p>
            </div>
            <div class="col-md-12">
              <h5 class="genera-magenta">Vision</h5>
              <p class="how-it-works-font">We envision a Europe where relational and sexual learning is valued as essential as academic education. Because the next generation deserves more than silence, confusion, or algorithms teaching them about relationships. They deserve education, dialogue, and better role models.</p>
            </div>
            <div class="col-md-12">
              <h5 class="genera-orange">Values</h5>
              <p class="how-it-works-font">Curiosity | Inclusivity | Safety | Empathy | Non-violent communication</p>
            </div>
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
</section>
{% endif %}
<!-- /.wrapper -->

{% if page.what_we_do.enable %}
<section id="what-we-do">
  <div class="wrapper white-wrapper">
    <div class="container inner">
      <div class="three-columns-wrapper">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="text-center">
              <h1 class="title-bg bg-default color-default large-title">{{page.what_we_do.title}}</h1>
            </div>
            <!-- <div class="space10"></div> -->
<!--            <h3 class="display-3 text-center">{{page.what_we_do.sub_title}}</h3>-->
            <!-- <div class="space30"></div> -->
          </div>
        </div>
        <div class="row gutter-60 text-center align-items-end">
          {% for service in page.what_we_do.services %}
          <div class="col-md-4">
            <figure class="mb-30"><img src="{{service.image}}" class="what-we-do-figure" alt="{{service.title}}"/></figure>
            <h4>{{service.title}}</h4>
            <p class="mb-15">{{service.description}}</p>
<!--            <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>-->
          </div>
          <div class="space20 d-md-none"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}


{% if page.team.enable %}
<section id="team">
  <div class="wrapper gray-wrapper">
      <div class="container inner">
          <div class="three-columns-wrapper">
              <div class="row">
                  <div class="col-md-7 mx-auto">
                      <div class="text-center">
                          <h1 class="title-bg bg-default color-default large-title">{{page.team.title}}</h1>
                      </div>
<!--                      <div class="space10"></div>-->
<!--                      <h3 class="display-3 text-center">{{page.team.sub_title}}</h3>-->
<!--                      <div class="space30"></div>-->
                  </div>
              </div>
              <div class="row gutter-60 text-center align-items-end">
                  {% for service in page.team.services %}
                  <div class="col-md-4">
                      <figure class="mb-30"><img src="{{service.image}}"  alt="{{service.title}}"/></figure>
                      <h4>{{service.title}}</h4>
                      <p class="mb-15">{{service.description}}</p>
                      <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
                  </div>
                  <div class="space20 d-md-none"></div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</section>
{% endif %}

{% if page.contact_area.enable %}
<section id="contact">
  <div class="wrapper light-wrapper">
    <div class="container inner">
      {% if page.contact_area.title %}
      <div class="text-center">
        <h1 class="title-bg bg-default color-default large-title">{{page.contact_area.title}}</h1>
      </div>
      {% endif %}
      <div class="row">
<!--        <div class="col-md-8">-->
          {% if page.contact_area.sub_title %}
          <h3 class="display-3 subtitle-font">{{page.contact_area.sub_title}} </h3>
          {% endif %}
        </div>
<!--      </div>-->
      <div class="space40"></div>
      <div class="row">
        <div class="col-lg-4">
          {% for lists in page.contact_area.lists %}
          <div class="d-flex flex-row">
            <div>
              <div class="icon color-default fs-34 mr-25"> <i class="{{lists.icon}}"></i> </div>
            </div>
            <div>
              <h6 class="mb-5">{{lists.title}}</h6>
              <address>{{lists.info_01}}
                {% if lists.info_02 %}
                <br class="d-none d-md-block" />
                {{lists.info_02}}
               {% endif %}
              </address>
            </div>
          </div>
        {% endfor %}
        </div>
        <!--/column -->
        <div class="col-lg-8">
          <form id="contact-form" class="fields-white" method="post" action="https://formspree.io/f/mzdalyoy">
            <div class="messages"></div>
            <div class="controls">
              <div class="row g-3">
                {% for forms_data in page.contact_area.forms_data %}
                {% if forms_data.field_type == "input" %}
                <div class="col-lg-12 col-xl-6">
                  <div class="form-group">
                    <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}}  *" required="required" data-error="{{forms_data.error_message}}">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% else if forms_data.field_type == "textarea" %}
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <input type="submit" class="btn btn-send" value="Send message">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <p class="text-muted"><strong>*</strong> These fields are required.</p>
                </div>
              </div>
            </div>
          </form>
          <!-- /form -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</section>
<!-- /section -->
{% endif %}
{% include layouts/footer/footer-2.html %}
