---
layout: default
title: Genera - The relational safety project
meta_title: Genera - The relational safety project
meta_description: |
  Genera is a relational safety project.
custom_color: rose
custom_font: font4
sections:
  - home
  - services
  - mission
  - team
  - contact


hero_area:
  enable: true
  title: "Genera"
  sub_title: "<i>The relational safety project<br/><br/></i>A new generation for a new era of relating."
  # button_text: "See My Works"
  # button_url: "#"
  image: "/assets/images/concept/bg1.svg"
  section_id: "home"


pitch_area:
  enable: true
  title: "Pitch"
  sub_title: "The full service we are offering is specifically designed to meet your business needs"


services:
  enable: true
  title: "What We Do?"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  services:

    - title: "Immersive Training"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept14@2x.webp"
      button_text: "Learn More"
      button_url: "#"

    - title: "One-off Workshop"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept19@2x.webp"
      button_text: "Learn More"
      button_url: "#"

    - title: "Podcast"
      description: "Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus."
      image: "/assets/images/concept/concept18@2x.webp"
      button_text: "Learn More"
      button_url: "#"


video_area:
  enable: true
  title: "How It Works?"
  sub_title: "Find out everything you need about creating a business process model."
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  image: "/assets/images/art/about2.webp"
  lists:

    - title: "Mission"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Vision"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Values"
      description: "Nulla vitae elit libero at pharetra augue metus."


team:
  enable: true
  title: "Who we are?"
  sub_title: "Meet our fantastic team."
  services:

    - title: "Chiara Ferri"
      description: "Co-Founder<br><br>This is an optional mid-size description of myself. We can keep it or leave it. Up to us. Length to be defined, but should be pretty much the same."
      image: "/assets/images/concept/concept14@2x.webp"
      button_text: "LinkedIn"
      button_url: "https://linkedin.com/in/chiara-ferri-22374bb9"

    - title: "Eleonora Ungaro"
      description: "Co-Founder<br><br>This is an optional mid-size description of myself. We can keep it or leave it. Up to us. Length to be defined, but should be pretty much the same."
      image: "/assets/images/concept/concept13@2x.webp"
      button_text: "LinkedIn"
      button_url: "https://linkedin.com/in/eleonora-ungaro-340aa394"

    - title: "Emma Zamberlan"
      description: "Project Manager<br><br>This is an optional mid-size description of myself. We can keep it or leave it. Up to us. Length to be defined, but should be pretty much the same."
      image: "/assets/images/concept/concept18@2x.webp"
      button_text: "LinkedIn"
      button_url: "https://linkedin.com/in/emma-zamberlan-0944b9a2"

contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
  action_email: "wearegenera@gmail.com"
  lists:
    - title: Based in
      info_01: "Amsterdam, The Netherlands"
      icon: "jam jam-gps"

    - title: E-mail
      info_01: "wearegenera@gmail.com"
      icon: "jam jam-envelope-open"

    - title: Phone
      info_01: "+00 (123) 456 78 90"
      # info_02: "+00 (123) 456 78 90"
      icon: "jam jam-envelope-open"
    # info_01: "Chiara: +31 687381694"
    # info_02: "Eleonora: +39 3896222003"
    # icon: "jam jam-phone"

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Laast Name" 
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone Number"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"
---


{% include layouts/nav/one-page-nav-2.html %}

<!--<section id="home" class="pt-0 mt-0"></section>-->

{% if page.hero_area.enable %}
<section id="{{page.hero_area.section_id}}">
  <div class="wrapper white-wrapper">
    <div class="rev_slider_wrapper fullwidth-container dark-spinner">
      <div id="slider6" class="rev_slider fullwidthbanner" data-version="5.4.7">
        <ul>
          <li data-transition="fade" data-thumb="">
            <img src="/assets/images/dummy.webp" data-bgcolor="#fff" alt="{{page.hero_area.title}}"/>
            {% if page.hero_area.image %}
            <div class="tp-caption"
                 data-x="['center','center','center','center']"
                 data-y="['bottom','bottom','bottom','bottom']"
                 data-hoffset="['0','0','0','0']"
                 data-voffset="['-2','-2','-2','-2']"
                 data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                 data-visibility="['on','on','on','on']"
                 data-width="none"
                 data-height="none"
                 data-type="image"
                 data-responsive="on"
                 data-responsive_offset="on"
                 data-basealign="slide" style="z-index: 5;">
              <img data-lazyload="" src="/assets/images/concept/bg1.svg" data-ww="['100%','100%','100%','100%']"
                   data-hh="['auto','auto','auto','auto']" alt="{{page.hero_area.title}}" />
            </div>
            {% endif %}
            <div class="tp-caption font-weight-600 color-dark"
                 data-x="['left','left','center','center']"
                 data-y="['middle','middle','bottom','bottom']"
                 data-hoffset="['50','30','0','0']"
                 data-voffset="['-100','-120','280','280']"
                 data-fontsize="['40','40','40','32']"
                 data-lineheight="['50','50','50','42']"
                 data-width="['460','380','650','340']"
                 data-textAlign="['left','left','center','center']"
                 data-whitespace="['normal','normal','normal','normal']"
                 data-frames='[{"delay":1100,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                 data-responsive="on"
                 data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.title}}
            </div>
            <!-- /.tp-caption -->
            <div class="tp-caption font-weight-400 color-dark"
                 data-x="['left','left','center','center']"
                 data-y="['middle','middle','bottom','bottom']"
                 data-hoffset="['50','30','0','0']"
                 data-voffset="['30','30','150','140']"
                 data-fontsize="['26','26','26','20']"
                 data-lineheight="['38','38','38','32']"
                 data-width="['460','380','650','340']"
                 data-textAlign="['left','left','center','center']"
                 data-whitespace="['normal','normal','normal','normal']"
                 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                 data-responsive="on"
                 data-responsive_offset="on" style="z-index: 9;"> {{page.hero_area.sub_title}}
            </div>
            <!-- /.tp-caption -->
<!--            <a class="tp-caption btn btn-l scroll"-->
<!--               data-x="['left','left','center','center']"-->
<!--               data-y="['middle','middle','bottom','bottom']"-->
<!--               data-hoffset="['50','30','0','0']"-->
<!--               data-voffset="['175','190','60','60']"-->
<!--               data-width="['auto','auto','auto','auto']"-->
<!--               data-frames='[{"delay":1900,"speed":1500,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'-->
<!--               data-responsive="on"-->
<!--               data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.button_url}}"> {{page.hero_area.button_text}}-->
<!--            </a>-->
            <!-- /.tp-caption -->
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
      </div>
      <!-- /.rev_slider -->
    </div>
    <!-- /.rev_slider_wrapper -->
  </div>
  <!-- /.wrapper -->
</section>
{% endif %}

{% if page.pitch_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="services-area">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <div class="space140"></div>
          <h2 class="title-color color-gray text-center">{{page.pitch_area.title}}</h2>
          <h3 class="display-3 text-center">{{page.pitch_area.sub_title}}</h3>
          <div class="space40"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endif %}

{% if page.services.enable %}
<section id="services">
  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <div class="three-columns-wrapper">
        <div class="row">
          <div class="col-md-7 mx-auto">
            <div class="text-center">
              <h2 class="title-bg bg-default color-default">{{page.services.title}}</h2>
            </div>
            <!-- <div class="space10"></div> -->
            <h3 class="display-3 text-center">{{page.services.sub_title}}</h3>
            <!-- <div class="space30"></div> -->
          </div>
        </div>
        <div class="row gutter-60 text-center align-items-end">
          {% for service in page.services.services %}
          <div class="col-md-4">
            <figure class="mb-30"><img src="{{service.image}}"  alt="{{service.title}}"/></figure>
            <h4>{{service.title}}</h4>
            <p class="mb-15">{{service.description}}</p>
            <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
          </div>
          <div class="space20 d-md-none"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}

{% if page.video_area.enable %}
<section id="mission">
  <div class="wrapper white-wrapper">
    <div class="container inner">
      <div class="row align-items-center">
        <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
          <div class="img-blob blob8">
              <img src="{{page.video_area.image}}" style="width: 30rem" alt="{{page.video_area.title}}" />
          </div>
          {% if page.video_area.video_url %}
           <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
          {% endif %}
        </div>
        <!--/column -->
        <div class="space20 d-md-none"></div>
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6 pl-50 pl-md-15">
          {% if page.video_area.title %}
           <h2 class="title-color color-gray">{{page.video_area.title}}</h2>
          {% endif %}
          {% if page.video_area.sub_title %}
           <h3 class="display-3">{{page.video_area.sub_title}}</h3>
          {% endif %}
          <div class="space20"></div>
          <div class="row">
            {% for list in page.video_area.lists %}
            <div class="col-md-12">
              <h5>{{list.title}}</h5>
              <p>{{list.description}}</p>
            </div>
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
</section>
{% endif %}
<!-- /.wrapper -->


{% if page.team.enable %}
<section id="team">
  <div class="wrapper gray-wrapper">
      <div class="container inner">
          <div class="three-columns-wrapper">
              <div class="row">
                  <div class="col-md-7 mx-auto">
                      <div class="text-center">
                          <h2 class="title-bg bg-default color-default">{{page.team.title}}</h2>
                      </div>
                      <div class="space10"></div>
                      <h3 class="display-3 text-center">{{page.team.sub_title}}</h3>
                      <div class="space30"></div>
                  </div>
              </div>
              <div class="row gutter-60 text-center align-items-end">
                  {% for service in page.team.services %}
                  <div class="col-md-4">
                      <figure class="mb-30"><img src="{{service.image}}"  alt="{{service.title}}"/></figure>
                      <h4>{{service.title}}</h4>
                      <p class="mb-15">{{service.description}}</p>
                      <div class="text-center"><a href="{{service.button_url}}" class="more">{{service.button_text}}</a></div>
                  </div>
                  <div class="space20 d-md-none"></div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</section>
{% endif %}

{% if page.contact_area.enable %}
<section id="contact">
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-md-8">
          {% if page.contact_area.title %}
           <h2 class="title-color color-gray">{{page.contact_area.title}}</h2>
          {% endif %}
          {% if page.contact_area.sub_title %}
          <h3 class="display-3">{{page.contact_area.sub_title}} </h3>
          {% endif %}
        </div>
      </div>
      <div class="space40"></div>
      <div class="row">
        <div class="col-lg-4">
          {% for lists in page.contact_area.lists %}
          <div class="d-flex flex-row">
            <div>
              <div class="icon color-default fs-34 mr-25"> <i class="{{lists.icon}}"></i> </div>
            </div>
            <div>
              <h6 class="mb-5">{{lists.title}}</h6>
              <address>{{lists.info_01}}
                {% if lists.info_02 %}
                <br class="d-none d-md-block" />
                {{lists.info_02}}
               {% endif %}
              </address>
            </div>
          </div>
        {% endfor %}
        </div>
        <!--/column -->
        <div class="col-lg-8">
          <form id="contact-form" class="fields-white" method="post" action="https://formspree.io/f/mzdalyoy">
            <div class="messages"></div>
            <div class="controls">
              <div class="row g-3">
                {% for forms_data in page.contact_area.forms_data %}
                {% if forms_data.field_type == "input" %}
                <div class="col-lg-12 col-xl-6">
                  <div class="form-group">
                    <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}}  *" required="required" data-error="{{forms_data.error_message}}">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% else if forms_data.field_type == "textarea" %}
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <input type="submit" class="btn btn-send" value="Send message">
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <p class="text-muted"><strong>*</strong> These fields are required.</p>
                </div>
              </div>
            </div>
          </form>
          <!-- /form -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
</section>
<!-- /section -->
{% endif %}
{% include layouts/footer/footer-2.html %}
