<!--Header with Video-->
<div class="video-wrapper page-title-wrapper inverse-text" data-aos="fade">
  <div class="video-wrapper-inner">
    <video preload="metadata" poster="{{page.video_image}}" muted autoplay loop>
      <source src="{{page.video}}" type="video/mp4">
    </video>
    <div class="content-overlay">
      <div class="container text-center">
        <h1 class="page-title">{{page.title}}</h1>
        <p class="lead">{{page.sub_title}}</p>
      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-overlay -->
  </div>
  <!-- /.video-wrapper-inner -->
</div>
<!-- /.wrapper -->