<div class="modal fade modal-bottom-center" id="modal-04" tabindex="-1" role="dialog" aria-labelledby="modal-04"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="box p-30">
                <div class="row">
                    <div class="col-md-7 col-lg-8 my-auto">
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <h4 class="mb-10">{{page.cookie_modal.title}}Cookie Policy</h4>
                                <p class="mb-0"> {{page.cookie_modal.content}} </p>
                                
                            </div>
                        </div>
                    </div>
                    <!--/column -->
                    <div class="space20 d-md-none"></div>
                    <div class="col-md-5 col-lg-4 text-md-end my-auto">
                        <a href="#" class="btn mb-0" data-bs-dismiss="modal" aria-label="Close">{{page.cookie_modal.button_text}}</a>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!--/.box -->
        </div>
        <!--/.modal-content -->
    </div>
    <!--/.modal-dialog -->
</div>
<!--/.modal -->