<div class="modal fade" id="modal-05" tabindex="-1" role="dialog" aria-labelledby="modal-05" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content boxed">
            <button type="button" class="close close-inverse" data-bs-dismiss="modal" aria-label="Close">
            </button>
            <div class="box bg-white p-30 text-center">
                <figure class="main mb-30 rounded"><img src="{{page.sale_modal.image}}" alt=""></figure>
                <h3>{{page.sale_modal.title}}</h3>
                <p>{{page.sale_modal.content}}</p>
                <a href="#" class="btn">{{page.sale_modal.button_text}}</a>
            </div>
            <!--/.box -->
        </div>
        <!--/.modal-content -->
    </div>
    <!--/.modal-dialog -->
</div>
<!--/.modal -->