<div class="modal fade" id="modal-02" tabindex="-1" role="dialog" aria-labelledby="modal-02" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="container-fluid boxed p-0">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="image-block-wrapper">
                    <div class="image-block col-lg-6">
                        <div class="image-block-bg bg-image" data-image-src="{{page.signup_modal.image}}"></div>
                    </div>
                    <!--/.image-block -->
                    <div>
                        <div class="row g-0">
                            <div class="col-lg-6 offset-lg-6">
                                <div class="box p-50 d-flex">
                                    <div class="align-self-center">
                                        <h2 class="section-title mb-30">{{page.signup_modal.title}}</h2>
                                        <form>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <input type="email" class="form-control" id="inputEmail"
                                                            placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" id="inputPassword"
                                                            placeholder="Password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" id="inputAddress"
                                                            placeholder="Address">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" id="inputAddress2"
                                                            placeholder="Address 2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mb-3">
                                                        <input type="text" class="form-control" id="inputCity"
                                                            placeholder="City">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="mb-3 form-select-wrapper">
                                                        <select class="form-select">
                                                            <option selected>State</option>
                                                            <option>New York</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="btn" href="#!">{{page.signup_modal.button_text}}</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /div -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!--/column -->
                        </div>
                        <!--/.row -->
                    </div>
                    <!--/div -->
                </div>
                <!--/.image-block-wrapper -->
            </div>
            <!--/.boxed -->
        </div>
        <!--/.modal-content -->
    </div>
    <!--/.modal-dialog -->
</div>
<!--/.modal -->