---
layout: default
---
{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}
{% include layouts/header/page-title8.html %}

<div class="wrapper light-wrapper">
  <div class="container inner">
     
    <div class="row text-center">
      <div class="col-md-3">
        <h5>Date</h5>
        <p>{{page.date | date_to_string}}</p>
      </div>
      <!--/column -->
      <div class="col-md-3">
        <h5>Categories</h5>
        {% assign capitalized_filters = "" | split: "" %}
        {% for filter in page.filters %}
        {% assign capitalized_filter = filter | capitalize %}
        {% assign capitalized_filters = capitalized_filters | push: capitalized_filter %}
        {% endfor %}
        <p>{{ capitalized_filters | join: ", " }}</p>
      </div>
      <!--/column -->
      <div class="col-md-3">
        <h5>Client Name</h5>
        <p>{{page.client}}</p>
      </div>
      <!--/column -->
      <div class="col-md-3">
        <h5>Link</h5>
        <a href="#" class="nocolor p-more">See Project</a>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="space40"></div>
    <video title="Portfolio Video: {{ page.title }}" poster="{{ page.video_image }}" class="player" playsinline controls preload="none">
      <source src="{{ page.video }}" type="video/mp4">
      <source src="{{ page.video | replace: '.mp4', '.webm' }}" type="video/webm">
      Your browser does not support the video tag.
  </video>
    <div class="space60"></div>
    <div class="row text-justify">
      <div class="col-md-10 offset-md-1">
        <h2>About the Project</h2>
        
        {{ page.content }}
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->

    
  </div>
  <!-- /.container -->
</div>
{% include components/portfolio/related-projects.html %}
{% include layouts/footer/footer-1.html %}