---
layout: page
---

<div class="wrapper light-wrapper">
  <div class="container-fluid inner">
    <div class="grid grid-view">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for post in page.portfolio_area.categories %}
           <li><a class="button" data-filter=".{{post.filter}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles tiles-m">
        <div class="row isotope">
          <!-- loop starts here -->
          {% include components/portfolio/loops/fullscreen-loop.html %}
          
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->
  </div>
</div>
