---
layout: default
---

{% include layouts/nav/nav-5.html  drop_search=true %}
<div class="wrapper image-wrapper bg-image page-title-wrapper inverse-text" data-image-src="{{site.data.general_settings.author_page_header.header_background_image}}">
  <div class="container inner text-center">
    <div class="row">
    	<div class="col-md-8 mx-auto"> 
		    <div class="space90"></div>
		    <h1 class="page-title text-capitalize">{{page.title}}</h1>
    	</div>
    </div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="blog grid grid-view">
      <div class="row isotope">
        {% for post in page.posts %}
          {% include posts/loops/post-loop.html 
            title_length=27
            excerpt_length=18
            text_alignment='text-center'
            is_boxed=true
            is_grid=true
          %}
        {% endfor %}
      </div>
      <!-- /.row -->
    </div>
    <!-- /.blog -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% include layouts/footer/footer-3.html %}