{% comment %} This layout is used for maintenance page index-27 {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Meta Tags-->
   {% include core/head/meta-seo-tags.html %}
   {% include core/head/meta-og-tags.html %}
   <!-- Stylesheets-->
   {% include core/styles/styles.html %}
   <!-- Google Analytics-->
   {% include utilities/analytics.html %}
</head>
<body class="wrapper image-wrapper bg-image no-overlay h-100" data-image-src="{{relative_url}}/assets/images/art/bg16.webp">
  {{ content }}
  <!-- Site Scripts-->
  {% include core/scripts/scripts.html %}
</body>
</html>

  