<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Meta Tags-->
 {% include core/head/meta-seo-tags.html %}
 {% include core/head/meta-og-tags.html %}
 <!-- Stylesheets-->
 {% include core/styles/styles.html %}
 <!-- Google Analytics-->
 {% include utilities/analytics.html %}
</head>
<body {% if page.overflow %} class="overflow-hidden" {% endif %}>
  <div class="content-wrapper">
    {{ content }}
  </div>
  <!-- Site Scripts-->
{% include layouts/footer/footer-1.html %}
{% include core/scripts/scripts.html %}
</body>
</html>
